GITHUB_USER=ThyWoof
GITHUB_USER_NAME='Winston Wolfe'
GITHUB_USER_EMAIL=winston.wolfe@marsellus.inc.com
GITHUB_REPO=latam-newr-training

DOCKERHUB_USER=ThyWoof
TAG=latest

PUBLIC_URL=http://YOUR_INSTANCE_HOSTNAME:8888

NEW_RELIC_LICENSE_KEY=
CLUSTER_NAME=local

NEW_RELIC_BROWSER_LICENSE_KEY=
NEW_RELIC_BROWSER_APPLICATION_ID=